/*************************
Element article (main) 
*************************/
.photographer_section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.photographer:hover {
    opacity: 0.6;
}
.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
}

.locality {
    color: #ac330f;
    margin: 0;
}

.tagline {
    margin: 0;
    padding: 5px 0;
}

.price {
    color: grey;
}