.preview {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row>.col {
  padding: 0 8px;
}

.col {
  float: left;
  width: 25%;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 62px 0px 62px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.fa-chevron-left, .fa-chevron-right,.fa-xmark {
  color: #901C1C;
  position: fixed;
}

.fa-chevron-left, .fa-chevron-right {
  top: 50%;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
}

.slide {
  display: none;

}

.image-slide {
  width: 100%;
}

.modal-preview {
  width: 100%;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  color: white;
  position: absolute;
  top: 150px;
  font-weight: bold;
}

.next {
  right: 0;
}

.previous:hover,
.next:hover {
  cursor: pointer;
}