/* bandeau fixe */
.banner-info {
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 2000;
    background-color: #db8875;
    border-radius: 5px;
    display: flex;
    width: 350px;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.banner-info p{
    padding: 0 30px;
}
/*******************
*** PHOTOGRAPHER ***
*******************/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* force mon bloc a prendre la largeur de la page*/
    min-width: 1200px;
    margin-right: 100px;
}

.photograph-section {
    font-size: 20px;
    padding-left: 40px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button-hover:hover{
    color: #0d0807;
    background-color: #db8875;
}

.photograph-picture {
    padding-right: 40px;
}

.photograph-picture img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
/************
*** MEDIA ***
************/
.name-page {
    color: #D3573C;
    font-size: 46px;
}

.tagline-page {
    color: black;
    font-weight: 200;
}

/***** gallery *****/
.photograph-media {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    object-fit: cover;
}

.gallery {
    width: 350px;
    margin: 0 auto;
}

.card-gallery , .card-video{
    height: 300px;
    width: 350px;

}
.card-gallery img, video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
}
.card-title {
    color: #ac330f;
    font-weight: 200;
    font-size: 20px;
    margin: 0px ;

}
.card-like{
    color: #ac330f;
    font-weight: bold;
    align-self: center;
}


