.select-block {
    margin: 0px 0 35px 0;
}

.select-block label {
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    width: 100px;
}

select {
    /* suppression du style par défaut */
    background-color: #901C1C;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /*appearance: none;
    /* enleve la bordure exterieure */
    outline: none;
    /**/
    cursor: pointer;
    margin: 20px 0 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    font-size: 20px;
    width: 150px;
}




