@import url("index.css");
@import url("photographer.css");
@import url("lightbox.css");
@import url("select.css");
@import url("contact.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

main {
    margin: 0 auto;
}

h1 {
    color: #901C1C;
}

.container {
    position: relative;
    min-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}

#banner {
    margin: 0 100px;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.fuzzy {
    opacity: 0.5;
}